/*Estilos carousel*/
.carousel {
  margin-top: 30px;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 15px;
  border-radius: 5px;
}

/*Fin estilos carousel*/
/*Estilos para Header desktop*/
@media screen and (min-width: 981px) {
  .header-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../IMAGE/Footer.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 50px orange;
    border: 0.1px solid black;
    flex-wrap: wrap;
  }

  .header {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
  }

  .header-list {
    font-family: "Luxurious Roman", cursive;
    font-size: 20px;
    color: white;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 10px 10px 10px 20px;
    color: orange;
    background-color: orange;
    border-radius: 5px;
    min-width: 250px;
  }

  .header-li {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header-li:hover {
    border-radius: 5px;
    background-color: #aca9a9;
  }

  .link-header:link {
    color: black;
  }

  .link-header:visited {
    color: black;
  }

  a {
    text-decoration: none;
  }
}
@media screen and (min-width: 981px) {
  /*Estilos section 1 - presentacion*/
  .Section-1 {
    color: white;
  }

  .inicio {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
  }

  .Video-1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .title {
    font-family: "Luxurious Roman", cursive;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
  }

  .Paragraph {
    font-family: "Luxurious Roman", cursive;
    font-size: 20px;
    border: 3px solid white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0px 10px 20px 10px;
  }
}
/*Fin Estilos section 1 - presentacion*/
@media screen and (min-width: 981px) {
  /*Estilos section 2 - alquileres*/
  .sale {
    display: grid;
    width: 30%;
    margin-left: 34%;
    justify-content: center;
    text-decoration: none;
    font-family: "Luxurious Roman", cursive;
    background-color: orange;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    padding-top: 20px;
    color: white;
    animation: myAnim 2s ease-out 0s infinite normal forwards;
    box-shadow: 0px 4px 50px white;
    border-radius: 20px;
  }

  @keyframes myAnim {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }
  .alq-container {
    flex-wrap: wrap;
  }

  .Alquileres {
    font-family: "Luxurious Roman", cursive;
    font-size: 30px;
    padding-top: 20px;
    color: white;
    text-decoration: underline;
    display: flex;
    justify-content: center;
  }

  .Vehiculos-1 {
    padding: 80px 0px 70px 0px;
    color: white;
    display: flex;
    justify-content: space-around;
  }

  .img1 {
    background-color: white;
    padding: 30px 20px 50px 20px;
  }

  .price {
    border: 2px outset;
    background-color: orange;
    font-family: "Luxurious Roman", cursive;
    color: white;
    display: flex;
    justify-content: space-around;
  }

  .atv {
    border: 5px outset;
  }

  .utv {
    border: 5px outset;
  }

  .bike {
    border: 5px outset;
  }

  /*Animaciones seccion 2*/
  .square-1:hover {
    transform: scale(1.35);
  }
}
@media screen and (min-width: 981px) {
  /* estilos seccion 3 - referencias*/
  .ref-0 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    padding-top: 10px;
    background-color: blanchedalmond;
    border: 3px solid orange;
    margin-left: 34%;
    color: black;
    width: 30%;
    display: grid;
    justify-content: center;
    text-decoration: none;
    font-family: "Luxurious Roman", cursive;
  }

  .reference-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(1, auto);
    padding: 50px 30px 50px 30px;
    grid-gap: 30px;
  }

  .name1 {
    background-color: blanchedalmond;
    padding: 10px 0px 1px 5px;
  }

  .time1 {
    background-color: blanchedalmond;
    padding: 1px 0px 1px 5px;
  }

  .flag-1 {
    background-color: blanchedalmond;
    padding: 1px 0px 1px 5px;
  }

  .par1 {
    background-color: blanchedalmond;
    padding-top: 35px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .ref-1 {
    background-color: blanchedalmond;
    border: 3px solid orange;
  }
}
@media screen and (min-width: 981px) {
  /*Estilos seccion 4 maps*/
  .maps {
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    padding-bottom: 25px;
  }
}
/* Fin estilos maps*/
@media screen and (min-width: 981px) {
  /* Estilos y animaciones footer*/
  .footer-container {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 30px 50px 30px;
    grid-gap: 30px;
    display: flex;
    align-content: space-around;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  .footer-contact {
    font-family: "Luxurious Roman", cursive;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .inicio-footer {
    font-family: "Luxurious Roman", cursive;
    font-size: 15px;
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .header-li1:hover {
    border-radius: 5px;
    background-color: #aca9a9;
  }

  .link-header1:link {
    color: white;
  }

  .link-header1:visited {
    color: white;
  }

  a {
    text-decoration: none;
  }

  .animation-inicio:hover {
    transform: scale(1.5);
  }

  .parrafo-footer {
    font-family: "Luxurious Roman", cursive;
    color: white;
    list-style: none;
    text-decoration: none;
  }

  .icon-1:hover {
    transform: scale(2);
  }

  .icon-2:hover {
    transform: scale(2);
  }

  .icon-3:hover {
    transform: scale(2);
  }

  .footer-container {
    background-image: url(../IMAGE/Footer.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-shadow: 0px 5px 50px orange;
    border: 0.1px solid black;
  }
}
/* Fin Estilos footer*/
/*Inicio estilos FAQs*/
.accordion-body {
  background-color: blanchedalmond;
  color: black;
}

.accordion-button {
  background-color: orange;
  color: white;
}

.accordion-flush {
  padding-bottom: 50px;
}

/*Fin estilos FAQs*/
@media screen and (max-width: 480px) {
  .header-container {
    padding: 1px 1px 1px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-image: url(../IMAGE/Footer.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 50px orange;
    border: 0.1px solid black;
  }

  .header-list {
    font-family: "Luxurious Roman", cursive;
    font-size: 20px;
    color: white;
    list-style: none;
    width: 100%;
    padding: 10px 10px 10px 20px;
    color: orange;
    background-color: orange;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
  }

  .header-li {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header-li:hover {
    border-radius: 5px;
    background-color: #aca9a9;
  }

  .link-header:link {
    color: black;
  }

  .link-header:visited {
    color: black;
  }

  a {
    text-decoration: none;
  }
}
@media screen and (max-width: 480px) {
  /*Estilos section 1 - presentacion*/
  .Section-1 {
    color: white;
  }

  .inicio {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
  }

  .Video-1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .title {
    font-family: "Luxurious Roman", cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px 0px 20px 0px;
  }

  .Paragraph {
    font-family: "Luxurious Roman", cursive;
    font-size: 20px;
    border: 3px solid white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0px 10px 20px 10px;
  }
}
/*Fin Estilos section 1 - presentacion*/
@media screen and (max-width: 480px) {
  /* Estilos y animaciones footer*/
  .footer-container {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 30px 50px 30px;
    grid-gap: 30px;
    display: flex;
    align-content: space-around;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  .footer-contact {
    font-family: "Luxurious Roman", cursive;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .inicio-footer {
    font-family: "Luxurious Roman", cursive;
    font-size: 15px;
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .header-li1:hover {
    border-radius: 5px;
    background-color: #aca9a9;
  }

  .link-header1:link {
    color: white;
  }

  .link-header1:visited {
    color: white;
  }

  a {
    text-decoration: none;
  }

  .animation-inicio:hover {
    transform: scale(1.5);
  }

  .parrafo-footer {
    font-family: "Luxurious Roman", cursive;
    color: white;
    list-style: none;
    text-decoration: none;
  }

  .icon-1:hover {
    transform: scale(2);
  }

  .icon-2:hover {
    transform: scale(2);
  }

  .icon-3:hover {
    transform: scale(2);
  }

  .footer-container {
    background-image: url(../IMAGE/Footer.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-shadow: 0px 5px 50px orange;
    border: 0.1px solid black;
  }

  /* Fin Estilos footer*/
}
@media screen and (max-width: 480px) {
  /*Estilos seccion 4 maps*/
  .maps {
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 480px) {
  .ref-0 {
    visibility: hidden;
    display: none;
  }

  .reference-container {
    display: none;
    visibility: hidden;
  }

  /*
  .ref-0{
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: 20px;
      padding-top: 10px;
      background-color: blanchedalmond;
      border: 3px solid orange;
      margin-left: 34%;
      color: black;
      width: 30%;
      display: flex;
      justify-content: center;
      text-decoration: none;
      font-family: 'Luxurious Roman', cursive;
  }

  .reference-container{
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
      padding: 50px 30px 50px 30px;
      grid-gap: 30px;

  }

  .name1{
      background-color: blanchedalmond;
      padding: 10px 0px 1px 5px;
  }
  .time1{
      background-color: blanchedalmond;
      padding: 1px 0px 1px 5px;
  }

  .flag-1{
      background-color: blanchedalmond;
      padding: 1px 0px 1px 5px;
  }

  .par1{
      background-color: blanchedalmond;
      padding-top: 35px ;
      padding-bottom: 30px;
      padding-right: 20px;
      padding-left: 20px;
  }

  .ref-1{
      background-color: blanchedalmond;
      border: 3px solid orange;
  }  */
}
@media screen and (max-width: 480px) {
  /*Estilos section 2 - alquileres*/
  .sale {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: "Luxurious Roman", cursive;
    background-color: orange;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    padding-top: 20px;
    color: white;
    animation: myAnim 2s ease-out 0s infinite normal forwards;
    box-shadow: 0px 4px 50px white;
    border-radius: 20px;
  }

  @keyframes myAnim {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }
  .alq-container {
    flex-wrap: wrap;
  }

  .Alquileres {
    font-family: "Luxurious Roman", cursive;
    font-size: 30px;
    padding-top: 20px;
    color: white;
    text-decoration: underline;
    display: flex;
    justify-content: center;
  }

  .Vehiculos-1 {
    padding: 80px 0px 70px 0px;
    color: white;
  }

  .img1 {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .square-1 {
    padding: 5px 5% 5px 5%;
  }

  .price {
    border: 2px outset;
    background-color: orange;
    font-family: "Luxurious Roman", cursive;
    color: white;
    display: flex;
    justify-content: space-around;
  }

  /*Animaciones seccion 2*/
  .square-1:hover {
    transform: scale(1.1);
  }
}
/* Estilos fondo body*/
body {
  background-image: url(../IMAGE/fondo-grisosc.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 481px) and (max-width: 980px) {
  .header-container {
    padding: 1px 1px 1px 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-image: url(../IMAGE/Footer.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 50px orange;
    border: 0.1px solid black;
  }

  .header-list {
    font-family: "Luxurious Roman", cursive;
    font-size: 20px;
    color: white;
    list-style: none;
    width: 100%;
    padding: 10px 10px 10px 20px;
    color: orange;
    background-color: orange;
    border-radius: 5px;
    text-decoration: none;
  }

  .header-li {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header-li:hover {
    border-radius: 5px;
    background-color: #aca9a9;
  }

  .link-header:link {
    color: black;
  }

  .link-header:visited {
    color: black;
  }

  a {
    text-decoration: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  /*Estilos section 1 - presentacion*/
  .Section-1 {
    color: white;
  }

  .inicio {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
  }

  .Video-1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .title {
    font-family: "Luxurious Roman", cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px 0px 20px 0px;
  }

  .Paragraph {
    font-family: "Luxurious Roman", cursive;
    font-size: 20px;
    border: 3px solid white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0px 10px 20px 10px;
  }
}
/*Fin Estilos section 1 - presentacion*/
@media screen and (min-width: 481px) and (max-width: 980px) {
  /*Estilos section 2 - alquileres*/
  .sale {
    display: grid;
    justify-content: center;
    text-decoration: none;
    font-family: "Luxurious Roman", cursive;
    background-color: orange;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    padding-top: 20px;
    color: white;
    animation: myAnim 2s ease-out 0s infinite normal forwards;
    box-shadow: 0px 4px 50px white;
    border-radius: 20px;
  }

  @keyframes myAnim {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }
  .alq-container {
    flex-wrap: wrap;
  }

  .Alquileres {
    font-family: "Luxurious Roman", cursive;
    font-size: 30px;
    padding-top: 20px;
    color: white;
    text-decoration: underline;
    display: flex;
    justify-content: center;
  }

  .Vehiculos-1 {
    padding: 80px 0px 70px 0px;
    color: white;
  }

  .img1 {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .square-1 {
    padding: 15px 5% 15px 5%;
    margin: auto;
  }

  .price {
    border: 2px outset;
    background-color: orange;
    font-family: "Luxurious Roman", cursive;
    color: white;
    display: flex;
    justify-content: space-around;
  }

  /*Animaciones seccion 2*/
  .square-1:hover {
    transform: scale(1.15);
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .ref-0 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    padding-top: 10px;
    background-color: blanchedalmond;
    border: 3px solid orange;
    margin-left: 34%;
    color: black;
    width: 30%;
    display: grid;
    justify-content: center;
    text-decoration: none;
    font-family: "Luxurious Roman", cursive;
  }

  .reference-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    padding: 50px 30px 50px 30px;
    grid-gap: 30px;
  }

  .name1 {
    background-color: blanchedalmond;
    padding: 10px 0px 1px 5px;
  }

  .time1 {
    background-color: blanchedalmond;
    padding: 1px 0px 1px 5px;
  }

  .flag-1 {
    background-color: blanchedalmond;
    padding: 1px 0px 1px 5px;
  }

  .par1 {
    background-color: blanchedalmond;
    padding-top: 35px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .ref-1 {
    background-color: blanchedalmond;
    border: 3px solid orange;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  /*Estilos seccion 4 maps*/
  .maps {
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    padding-bottom: 25px;
  }
}
/* Fin estilos maps*/
@media screen and (min-width: 481px) and (max-width: 980px) {
  /* Estilos y animaciones footer*/
  .footer-container {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 30px 50px 30px;
    grid-gap: 30px;
    display: flex;
    align-content: space-around;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  .footer-contact {
    font-family: "Luxurious Roman", cursive;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .inicio-footer {
    font-family: "Luxurious Roman", cursive;
    font-size: 15px;
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .header-li:hover {
    border-radius: 5px;
    background-color: #aca9a9;
  }

  .link-header1:link {
    color: white;
  }

  .link-header1:visited {
    color: white;
  }

  a {
    text-decoration: none;
  }

  .animation-inicio:hover {
    transform: scale(1.5);
  }

  .parrafo-footer {
    font-family: "Luxurious Roman", cursive;
    color: white;
    list-style: none;
    text-decoration: none;
  }

  .icon-1:hover {
    transform: scale(2);
  }

  .icon-2:hover {
    transform: scale(2);
  }

  .icon-3:hover {
    transform: scale(2);
  }

  .footer-container {
    background-image: url(../IMAGE/Footer.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-shadow: 0px 5px 50px orange;
    border: 0.1px solid black;
  }
}
/* Fin Estilos footer*/

/*# sourceMappingURL=style1.css.map */
