@media screen and (min-width: 981px){

 /* estilos seccion 3 - referencias*/
 .ref-0{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    padding-top: 10px;
    background-color: blanchedalmond;
    border: 3px solid orange;
    margin-left: 34%;
    color: black;
    width: 30%;
    display: grid;
    justify-content: center;
    text-decoration: none;
    font-family: 'Luxurious Roman', cursive;
}

.reference-container{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(1, auto);
    padding: 50px 30px 50px 30px;
    grid-gap: 30px;

}

.name1{
    background-color: blanchedalmond;
    padding: 10px 0px 1px 5px;
}
.time1{
    background-color: blanchedalmond;
    padding: 1px 0px 1px 5px;
}

.flag-1{
    background-color: blanchedalmond;
    padding: 1px 0px 1px 5px;
}

.par1{
    background-color: blanchedalmond;
    padding-top: 35px ;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.ref-1{
    background-color: blanchedalmond;
    border: 3px solid orange;
}}