@media screen and (min-width: 981px){
      /*Estilos seccion 4 maps*/
    
      .maps{
        border-top: 3px solid orange;
        border-bottom: 3px solid orange;
        padding-bottom: 25px;
    }}
    
    /* Fin estilos maps*/