@mixin ColoresHeader ($color, $relleno, $borde, $animacion){
background-color: $color;
padding: $relleno;
border: $borde;
box-shadow: $animacion;
}

.header-list{
    @include ColoresHeader (orange,100% ,0.1px solid black, 0px 5px 50px orange )
}

