/* Estilos fondo body*/
    
body{
    background-image: url(../IMAGE/fondo-grisosc.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}

.disclaimer{
    display: none;
}