 /*Inicio estilos FAQs*/
    
 .accordion-body{
    background-color:blanchedalmond;
    color: black;

}
.accordion-button{
    background-color: orange;
    color: white;
}

.accordion-flush{
    padding-bottom: 50px;

}

/*Fin estilos FAQs*/