/* Estilos y animaciones footer*/
    
.footer-container{
    color: white;
    grid-gap: 10px;
    display: flex;
    align-content: space-around;
    align-items: stretch;
    text-align: center;
    justify-content:space-around;
}

.footer-contact{
    font-family: 'Luxurious Roman', cursive;
    color:white;    
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.inicio-footer{
    font-family: 'Luxurious Roman', cursive;
    font-size: 15px;
    color:white;    
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.header-li1:hover{
    border-radius: 5px;
    background-color: rgb(172, 169, 169);}

    .link-header1:link{
        color: white;
    }

    .link-header1:visited{
        color: white;
    }

    a{
        text-decoration: none;
    }

.animation-inicio:hover{
    transform: scale(1.5);

}

.parrafo-footer{
    font-family: 'Luxurious Roman', cursive;
    color:white;    
    list-style: none;
    text-decoration: none;
}

.icon-1:hover{
    transform: scale(2);
}

.icon-2:hover{
    transform: scale(2);
}

.icon-3:hover{
    transform: scale(2);
}

.footer-container{
    background-image: url(../IMAGE/Footer.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    box-shadow: 0px 5px 50px orange; 
    border:0.1px solid black;  
}